body {
      margin: 0;
      text-align: center;
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-size: 25px;
}

h1 {
      font-family: 'Silkscreen', cursive;
      margin-top: 50px;
      margin-bottom: 25px;
      color: rgb(217, 204, 209);
      font-size: 4.5rem;
}

h2 {
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-size: 2.5rem;
      color: #58adad;
      font-weight: lighter;
      margin: 30px auto 30px auto;
}

h3 {
      font-family: 'Yanone Kaffeesatz', sans-serif;
      color: #326363;
      font-weight: lighter;
}

a {
      color: #326363;
      margin: 0 5px 0 5px;
      text-decoration: none;
}

a:hover {
      color: white;
}

.stf {
      color: white;
      font-size: 20px
}

.btn {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0px;
      font-family: 'Yanone Kaffeesatz', sans-serif;
      color: #ffffff;
      font-size: 30px;
      background: #58adad;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
      margin: 50px auto 50px auto;
    }
    
.btn:hover {
      background: #326363;;
      text-decoration: none;
}

hr {
      border-style: none;
      border-top: dotted;
      border-width: 10px;
      width: 6%;
      margin: 100px auto 100px auto;
      border-color: #909b9b;
}

.sub-title {
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-size: 2.5rem;
      color: rgb(217, 204, 209);
      font-weight: lighter; 
}

.top-container {
      background-color: #58adad;
      position: relative;
      padding-top: 75px;
      top: 0;
      
}

.middle-container {
      background-color: rgb(235, 218, 221);
      padding-bottom: 50px;
}

.bottom-container {
      background-color: #58adad;
      position: relative;
      bottom: 0;
      padding:50px 0 25px 0;
}

.contact-me {
      padding-bottom: 75px;
}

.skill-row {
      width: 50%;
      position: relative;
      margin: 100px auto 100px auto;
      text-align: left;
      line-height: 1.5;
      overflow: auto;
}

.computer-image {
      width: 25%;
      border-radius: 50%;
      float: left;
      margin-right: 30px;
}

.tennis-image {
      width: 25%;
      border-radius: 50%;
      float: right;
      margin-left: 30px;
}

.mountain {
      position: relative;
      top: 6px;
}

.cloud1 {
      position: absolute;
      top: 35px;
      right: 30%;
}

.cloud2 {
      position: absolute;
      top: 45%;
      left: 25%;
}

.profile-picture {
      width: 250px;
      border-radius: 50%;
      padding-top: 30px;

}